@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.pagination {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 15px;
    padding: 10px;
    background-color: #7AB2B2;
    border-right: 5px dashed #1A4D2E;
    border-bottom: 5px dashed #1A4D2E;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.pagination span {
  margin: 10px;
  cursor: pointer;
}

.disabled {
    color: rgb(100, 100, 100);
    cursor: default !important;
}

.pricing1 {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(226, 230, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
}

.pricing1 h1 {
  font-size: 40px;
  color: grey;
  font-weight: 700;
}

.pricing1 .subscription-toggle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 9px;
}

.pricing1 .subscription-toggle input {
    display: none;
}

.pricing1 .subscription-toggle label {
  width: 50px;
  height: 25px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 30px;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 5px 5px rgba(0,0,255, 0.4);
  border: 1px solid hsl(234, 14%, 74%);
}

.pricing1 .subscription-toggle label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  top: 2.5px;
  left: 2.5px;
  transition: 300ms ease-in-out;
}

.pricing1 input:checked + label::before {
    left: 27.5px;
}

.pricing1 .all-plans {
  display: flex;
  align-items: center;
}

.pricing1 .plan-category {
  background-color: white;
  padding: 20px;
  text-align: center;
  line-height: 1.5;
  border-radius: 10px;
  min-width: 220px;
}

.pricing1 .plan-category:nth-child(2) {
  padding: 60px 20px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.pricing1 .plan-category .plan-name {
  font-size: 15px;
  font-weight: 800;
  color: rgb(200, 200, 200);
}

.pricing1 .plan-category .price-tag {
  font-size: 40px;
  font-weight: 800;
  color: rgb(50, 50, 50);
}

.pricing1 .plan-category .feature {
  font-size: 12px;
  font-weight: 600;
  color: rgb(200, 200, 200);
}

.pricing1 .plan-category hr {
  border: 0.5px solid rgb(200, 200, 200);
}

.pricing1 .plan-category button {
  padding: 10px;
  width: 100%;
  background-color: hsl(237, 63%, 64%);
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid hsl(237, 63%, 64%);
  transition: 300ms ease-in-out;
}

.pricing1 .plan-category button:hover {
  color: hsl(237, 63%, 64%);
  background-color: transparent;
  border: 1px solid hsl(234, 14%, 74%);
}

.pricing1 .plan-category:nth-child(2) .plan-name,
.pricing1 .plan-category:nth-child(2) .feature,
.pricing1 .plan-category:nth-child(2) .price-tag {
  color: white;
}

.pricing1 .plan-category:nth-child(2) button {
  background: white;
  border: 1px solid white;
  color: hsl(237, 63%, 64%);
}

.pricing1 .plan-category:nth-child(2) button:hover {
  background-color: transparent;
  color: white;
}